<%= render partial: "layouts/customer_navigation_bar", locals: {current_page: "About the Cottage"} %>
<div class="nav_bar_filler"></div>

<div id="original_cottage">
    
    <div id="original_cottage_descriptor_wrapper">
            <div id="original_cottage_descriptor">
                Carob Cottage, 1950
            </div>
    </div>     
    <div id="original_cottage_title">
        Cottage History
    </div>
</div>

<div class="downArrow bounce" onclick="scroll_to('#original_explanation')">
  <img width="40" height="40" alt="" src="assets/navigation_arrows/down_arrow.png" />
</div>

<div id="original_explanation" class="history_seperator history_about_us">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eleifend, elit ac ultrices condimentum, turpis nibh ornare neque, cursus placerat dui quam nec nulla. Proin ullamcorper aliquam rutrum. Fusce eleifend cursus ultrices. Nullam pellentesque magna non eros sodales, ac euismod dui sollicitudin. Suspendisse rutrum arcu elit, sed euismod sem molestie vitae. Morbi sodales nisi sit amet dolor consequat, sed aliquet augue rhoncus. Ut a dignissim metus. Ut sodales vitae erat at interdum.

    Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam at mauris tempus, tristique magna non, dictum velit. Morbi a neque id sem porttitor finibus sed quis nibh. Phasellus ut massa ornare, porttitor libero eu, feugiat velit. Pellentesque auctor est et tortor porttitor aliquet. Donec nibh erat, pellentesque et leo in, vehicula facilisis tortor. Praesent finibus, nulla et iaculis dictum, justo dolor imperdiet lectus, at venenatis velit dui sed sapien. Curabitur rutrum bibendum consequat. Cras feugiat tellus suscipit purus sagittis tristique. Nunc eu risus dui. Curabitur pellentesque, lectus quis posuere scelerisque, lorem lectus placerat mauris, a lobortis lacus ex vel ipsum. Nullam aliquet risus eu blandit semper.
</div>

<div id="history_banner_wrapper">
    <img id="history_banner_photos" src="assets/carob_cottage_scenary/history_banner.jpg"/>    
</div>

<div class="history_seperator history_about_us">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eleifend, elit ac ultrices condimentum, turpis nibh ornare neque, cursus placerat dui quam nec nulla. Proin ullamcorper aliquam rutrum. Fusce eleifend cursus ultrices. Nullam pellentesque magna non eros sodales, ac euismod dui sollicitudin. Suspendisse rutrum arcu elit, sed euismod sem molestie vitae. Morbi sodales nisi sit amet dolor consequat, sed aliquet augue rhoncus. Ut a dignissim metus. Ut sodales vitae erat at interdum.

    Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam at mauris tempus, tristique magna non, dictum velit. Morbi a neque id sem porttitor finibus sed quis nibh. Phasellus ut massa ornare, porttitor libero eu, feugiat velit. Pellentesque auctor est et tortor porttitor aliquet. Donec nibh erat, pellentesque et leo in, vehicula facilisis tortor. Praesent finibus, nulla et iaculis dictum, justo dolor imperdiet lectus, at venenatis velit dui sed sapien. Curabitur rutrum bibendum consequat. Cras feugiat tellus suscipit purus sagittis tristique. Nunc eu risus dui. Curabitur pellentesque, lectus quis posuere scelerisque, lorem lectus placerat mauris, a lobortis lacus ex vel ipsum. Nullam aliquet risus eu blandit semper.
</div>

<div class="owner_profile">
    <div id="owner_photo_wrapper">
        <img id="owner_photo" src="assets/owner/mother.jpg"/>
    </div>
    <div id="owner_description">
        <h3>Owner Profile</h3>
        Carob Cottage is owned and operated by Dianne Kassebaum (pictured) and David Kassebaum. They have utilised Carob Cottage as a Bed and Breakfast since 2004. 
    </div>
</div>

<%= render partial: "layouts/footer" %>