<%= render partial: "layouts/customer_navigation_bar", locals: {current_page: "Home"} %>
<div class="nav_bar_filler"></div>

<div>
    <video id="video_frame_holder">
        <source src="https://drive.google.com/uc?authuser=0&id=1hUmGKdjeJ8C5f4dFvTn7vddXN5ZbM427&export=download" type="video/mp4">
    </video>    
</div>

<!--<div id="video_frame_holder"></div>-->

<!--<%= render partial: "layouts/youtube_video", locals: { div_id: "video_frame_holder", video_id: "XuSBhLkiswM" } %>-->
