<%= render partial: "layouts/customer_navigation_bar", locals: {current_page: "About the Area"} %>
<div class="nav_bar_filler"></div>

<p>
    Carob Cottage is located right in the heart of the Barossa Valley, placing you closest to all tourist attractions.
</p>

<%= render partial: "layouts/google_maps" %>