<%= render partial: "layouts/customer_navigation_bar", locals: {current_page: "Home"} %>

<div class="form_wrapper text_field ">
    <h2>Terms and Conditions</h2>
    <ul>
        <li>
            Not appropriate for children.
        </li>
        <li>
            Pets not allowed under any circumstances.
        </li>
        <li>
            Deposit is non refundable.
        </li>
        <li>
            Less than 1 weeks notice of cancellation will result in no refund.
        </li>
    </ul>        
        
    <h4>General Requirements</h4>
    <ol type="A">
        <li>
            Guests and Visitors must comply with Terms and Conditions during their stay.
        </li>
        <li>
            Guests must notify the Manager of any disputes or complaints from neighbours as soon as is practicable.                 
        </li>
        <li>
            Extra Guests CANNOT stay for free and must notify the Manager of their intention to stay.                
        </li>
    </ol>
    
    <h4>Noise and Residential Amenity</h4>
    <ol type="A">
        <li>
            Guests and Visitors must not create noise which is offensive to occupiers of neighbouring properties especially between 10pm - 8am and during arrival and departure at any time throughout the occupancy.
        </li>
        <li>
            Offensive noise is prohibited and may result in termination of permission to occupy the Property, eviction, loss of rental paid and extra charges which may be deducted from the Bond.                  
        </li>
        <li>
            Guests and Visitors must not engage in anti-social behaviour and must minimise their impact upon the residentil amenity of neighbours and local community.                
        </li>
    </ol> 
    <h4>Visitors</h4>
    <ol type="A">
        <li>
            Guests are responsible for ensuring the limits set on Visitor numbers is complied with at all times.
        </li>
        <li>
            Guests are responsible for ensuring that Visitors comply with rules set out under Terms and Conditions.                  
        </li>
        <li>
            Any additional Guests who stay overnight MUST PAY for their accommodation. Extra bedding used will be charged accordingly for the duration of your stay unless otherwise advised.                 
        </li>
        <li>
            If you have planned to invite family/friends to the cottage to prepare for a special occasion eg. wedding or other function, then permission must be sought from the owner. An extra charge may apply and if so, the payment must be made immediately on arrival. Failure to comply may result in the extra persons having to vacate the property.            
        </li>
    </ol> 
    <h4>Gatherings or Functions</h4>
    <ol>
        <li>
            The property is not a Party House and any such activities are strictly prohibited.            
        </li>
        <li>
            Any gathering, celebration or entertainment permitted at the Property must not conflict with residential amenity and must comply with all the other requirements.            
        </li>
    </ol>
    <h4>Security</h4>
    <div>
        Whenever you are absent from the Property, close all windows and lock doors to maintain security and prevent rain and water damage.        
    </div>
    <h4>Smoking</h4>    
    <div>
        Smoking is strictly prohibited indoors. Cigarette butts are to be put in the ashtray and not in the garden. A fee of $25 will be charged if cigarette butts are thrown anywhere on the property.        
    </div>
    <h4>BBQ</h4>   
    <div>
        Please clean the BBQ after use and ensure that the gas bottle has been turned off.
    </div>
    <h4>Damages and Breakages </h4>
    <div>
        Damages and breakages must be reported to the manager.
    </div>
    <h4>On departure arrangements</h4>
    <div>
        Keys are to be left on the bench where collected. Dishes are to be washed and put away and inside rubbish bins emptied into outside bins. All heating, cooling and lights to be turned off and fire left safely. Do not under any cicumstances empty ash from the fire into the rubbish bins or on the garden.
    </div>
    <h4>Emergency Contact </h4>
    <div>
        In the event of an emergency relating to the Property, please call Dianne on 0413249322 or David on 0437122727.
    </div>
    <h4>Compliance</h4>
    <ol>
        <li>
            Breach of these rules is a breach of the Terms and Conditions of occupancy. Extra guests not paying will be asked to leave the premises immediately.
        </li>
        <li>
            The Owner/Manager reserves the right to terminate permission to occupy and to evict from the Property, Guests or Visitors who refuse to follow these rules or who cause a nuisance.
        </li>
    </ol>
</div>

<%= render partial: "layouts/footer" %>