<% if @check_out_date %>
    <%= link_to "Check Out",  reservation_calendar_path(start_date: @start_date, check_in_date: @check_in_date, check_out_date: @check_out_date, hide_calendar: !@hide_calendar), remote: true %>
<% else %>
    <div> Check Out</div>
<% end %>