<div id="admin_nav_bar">
    <div id = "admin_nav_bar_spacer" ></div>
    <%= button_to "Booking Manager", administration_booking_manager_url, method: :get, class: "admin_nav_bar_button button" %>
    <%= button_to "Sign out", administration_logout_url, method: :delete, class: "admin_nav_bar_button button", id: "sign_out_button" %>
</div>