<h1>Customer Message</h1>

<p>
    Hi <%= @current_admin.name %>, 
</p>

<p>
    <%= @message.name %> sent you a message. You can respond to their message by sending an email to <%= @message.email_address %>. 
</p>

<p>
    <%= @message.message %>
</p>

