<% content_for :title, "Reservation | Carob Cottage" %>
<div class="side_bar_filler"></div>

<%= render partial: "layouts/customer_navigation_bar", locals: {current_page: "Reservation"} %>
<div class="form_wrapper">
    <div class="form_body">
        <div id="booking_success_text">
            <%= flash[:sucess] %>
        </div>
    </div>
</div>

<%= render partial: "layouts/footer" %>
