<div class="gallery_image_wrapper">
    <div id="bathroom" class="gallery_image w3-display-container">
    </div>
    <div class="w3-display-topleft w3-container w3-padding-16 w3-black">
        Bathroom
    </div>     
</div>