<div class="gallery_image_wrapper">
    <div id="side_of_house" class="gallery_image w3-display-container">
    </div> 
    <% if show_label %>    
        <div class="w3-display-topleft w3-container w3-padding-16 w3-black">
            Outside
        </div>
    <% end %>        
</div>