/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html
{ 
    margin: 0; 
    height: 100%;
    width:  100%;
    font-family: system-ui, sans-serif, arial;
}

.button 
{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.form_button:hover:enabled
{
    background-color: #119DCB;
    color: white;
}

.form_button
{
    background-color: #008CBA;
    border: none;
    color: white;
    padding-left: 32px;
    padding-right: 32px;
}

.form_button:disabled
{
    background-color: #017196;    
    color: #c4c4c4;
}

.flash_alert
{
    background-color: #c40000;
}

.flash_notification
{
    background-color: #38c469;
}

.flash_notification, .flash_alert
{
    color: white;
    text-align: center;
}

.navigation_arrow
{
    width: 30px;
    height: auto;
}


#customer_navigation_bar
{
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #005a77;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;     
    box-shadow: 0 0 20px black; 
    z-index: 10;
}

.customer_navigation_bar_button
{
    height: 45px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #fefefe;
    font-size: 22px;
    padding-top: 6px;
    display: inline-block;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;    
}

#customer_navigation_bar_padding_left
{
    display: inline-block;
    width: 10px;
    
}

.customer_nav_bar_selected, .customer_navigation_bar_button:hover
{
    color: #cccccc;
}

#footer
{
    border-top: 1px solid #aaaaaa;
    width: 100%;
    height: 25px;
    background-color: #2b2b2b;
}

.footer_button
{
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    float: right;
    color: #fefefe;
    text-decoration: none;
}

.no_underline
{
    text-decoration: none;
}

#fb_logo
{
    width:  19px;
    height: auto;
    margin-top: -3px;
}

.nav_bar_seperator
{
    position: relative;
    display: inline;
    border-left: 1px solid #4680a3;
    height: 30px;
}
