// Place all the styles related to the booking controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$full_calendar_border_colour: #e5e5e5;
$reserved_colour            : #ffddaa;
$booked_colour              : #d162c6;
$reserved_end_colour        : #dbdbdb;
$booked_end_colour          : #af50a6;
$light_blue                 : #aedfef;

$body_background            : linear-gradient(#65a3ce, #406E8E);
$form_background-color      : #fdfdfd;
$form_text_color            : #474747;
$form_text_color_unfilled   : #999595;
$form_error                 : #ef9f00;

.full_reservation_calendar_headers
{
    width: 35px;
}

.month_in_year
{
    vertical-align: top;
    padding-left:   15px;
    padding-right:  15px;
    padding-bottom: 10px;
    margin:         0;
    border: 1px solid $full_calendar_border_colour;  
}

#full_reservation_calendar
{
    text-align: center;
    margin: auto;
    border: 1px solid $full_calendar_border_colour;
    border-top: 0;    
    border-collapse: separate;
    border-spacing: 0px 0px;
}

#reservation_calendar
{
    width: 350px;
}

.month_title
{
    margin-top:      -2px;
    margin-left:     -15px;
    margin-right:    -15px;
    margin-bottom:    10px;
    height:           32px;
    padding-top:      5px;
    width:            275px;
    background-color: $light_blue;
    font-weight:      600;
}

#booking_summary_title
{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.reservation
{
    margin-top: 2px;
    height: 20px;
    position: absolute;
    z-index: -1;    
}

.full_cal_arrive_reserved, .full_cal_arrive_booked
{
    margin-left: 18px;
    width: 18px;
}

.full_cal_stay_reserved, .full_cal_stay_booked
{
    width: 36px;
}

.full_cal_depart_reserved, .full_cal_depart_booked
{
    width: 18px;
}

.full_cal_stay_booked
{
    background-color: $booked_colour;
}

.full_cal_arrive_booked
{
    border-right: 1px solid $booked_end_colour;      
    background: linear-gradient(to right, white, white , $booked_colour, $booked_colour);
}

.full_cal_depart_booked
{
    border-left: 1px solid $booked_end_colour;    
    background: linear-gradient(to left, white, white , $booked_colour, $booked_colour);
}

.full_cal_stay_reserved
{
    background-color: $reserved_colour;
}

.full_cal_arrive_reserved
{
    border-right: 2px solid $reserved_end_colour;    
    background: linear-gradient(to right, white, white , $reserved_colour, $reserved_colour);
}

.full_cal_depart_reserved
{
    border-left: 2px solid $reserved_end_colour;
    background: linear-gradient(to left, white, white , $reserved_colour, $reserved_colour);
}

table.center 
{
    margin-left:auto; 
    margin-right:auto;
}

.booking_link
{
    position: absolute;
    height: 20px;
    margin-top: 2px;
    z-index: 20;
}

.booking_link_arrive
{
    width: 18px;
    margin-left: 18px;
}

.booking_link_stay
{
    width: 36px;    
}

.booking_link_depart
{
    width: 18px;
}

.booking_link_wrapper
{
    text-align: left;
}

#individual_booking_wrapper
{
    width: 100%;
    text-align: center;
}

#individual_booking_place_holder
{
    text-align: center;
    width: 0px;
    height: 0px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid $full_calendar_border_colour;
    margin-bottom: 20px;
    background-color: #e5e5e5;    
}

#individual_booking
{
    background-color: white;
    margin-left:auto; 
    margin-right:auto;
    border-left: 1px solid $full_calendar_border_colour;
    border-right: 1px solid $full_calendar_border_colour; 
}

#individual_booking td
{
    text-align: left;
    margin-top: 5px;
    width: 210px;
    margin-bottom: 5px;
    padding-left: 10px;
}

#individual_booking_title
{
    width: 100%;
    border-bottom: 1px solid $full_calendar_border_colour;
    font-weight: 600;
    background-color: $light_blue;
}

.booking_attribute
{
    font-weight: 500;
}

.gray_border_right
{
    border-right: 1px solid $full_calendar_border_colour;
}

#close_button
{
    display: inline-block;
    text-align: right;
    float: right;
    position: relative;
    width: 22px;
    height: auto;
}

#close_button:hover
{
    cursor: pointer;
}

.booking_button
{
    position: relative;
    background-color: #008CBA;
    border: none;
    color: white;      
    padding: -10px 10px;
    text-align: center;
    height: 22px;
    font-size: 12px;
    float: left;
    height: 22px;    
}

#edit_booking_button
{
    z-index: 100;
}

#delete_booking_button
{
    z-index: 99;
}

#delete_wrapper
{
    width: 100%;
    visibility: hidden;
    height: 0px;
}

.booking_button:hover
{
    background-color: #119DCB;
    color: white;
}

.booking_form_element
{
    padding-left: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: auto 15px;       
}

#cost_field
{
    position: relative;
    float: right;
    width: 95%;
}

#add_booking_button_wrapper
{
    width: 100%;
    text-align: center;
}

#delete_booking_yes_button
{
    position: relative;
    z-index: 1;    
}

#delete_booking_no_button
{
    position: relative; 
    z-index: 10;
}

.form_wrapper
{
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 100%;
    background-color: $form_background-color; 
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;     
    box-shadow: 0 0 20px black;
}

.form_body
{
    margin-top: 30px;
    overflow: hidden;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

#reservation_page
{
    background-image: url(asset-path('carob_cottage_scenary/reservation_background.jpg'));
    background-size:  cover;     
    background-repeat: no-repeat;
    background-position: center bottom;
}

.customer_form
{
    margin-top: 10px;
    background-color: $form_background-color;
    padding-left: 36px;
    background-repeat: no-repeat;
    background-size: auto 25px; 
    color: $form_text_color;
    height: 35px;
}

.customer_form_error
{
    height: auto;
    border-bottom: 1px solid $form_error;
    color: $form_text_color;
    padding: 4px;
    font-size: 14px;
    font-weight: 600;
}

.date_customer_form_error
{
    margin-top: -5px;
    margin-left: 10px;
    margin-right: 10px;
}

.form_error
{
    text-align: left;
    padding-left: 36px;
}


.customer_form_unfilled
{
    color: $form_text_color_unfilled
}

.customer_form_disabled
{
    cursor: not-allowed;
}

#booking_number_of_people
{
    margin-top: 10px;
    padding-left: 34px; 
    background-image: url(asset-path('form_icons/number_of_people.png'));
    background-position: 5px 7px;     
    background-repeat: no-repeat;
    background-size: auto 25px;    
}

#booking_name
{
    background-image: url(asset-path('form_icons/name.png'));
    background-position: 5px 5px;    
}

#booking_contact_number
{
    background-image: url(asset-path('form_icons/phone_icon.png'));
    background-position: 9px 6px;    
}

#booking_email_address
{
    background-image: url(asset-path('form_icons/email.png'));
    background-position: 5px 6px;    
}

#booking_country
{
    background-image: url(asset-path('form_icons/country.png'));
    background-position: 5px 6px;    
}

#booking_postcode
{
    background-image: url(asset-path('form_icons/postcode.png'));
    background-position: 5px 7px;    
}

#booking_estimated_arrival_time
{
    background-image: url(asset-path('form_icons/estimated_arrival_time.png'));
    background-position: 5px 7px;    
}

#preferred_payment_method
{
    margin-top: 10px;
    height: 35px;
    border-bottom: 1px solid #cccccc;
    width: 100%;
}

#booking_preferred_payment_method
{
    color: $form_text_color;    
    background-image: url(asset-path('form_icons/preferred_payment_method.png'));
    background-position: 3px 7px;
    background-repeat: no-repeat;
    background-size: auto 18px;     
    padding-left: 35px;
    width: 280px;
    text-align: left;
}

#booking_preferred_payment_method_cash_on_arrival
{
    text-align: right;
}

#booking_preferred_payment_method_direct_debit
{
    margin-left: 10px;
    text-align: right;
}

#booking_agreement_wrapper, #price_estimate
{
    margin-top: 10px;
    width: 100%;
    height: 35px;
    text-align: left;
    border-bottom: 1px solid #cccccc;
    background-repeat: no-repeat;    
}

#booking_agreement_wrapper
{
    color: $form_text_color;
    margin-bottom: 25px;
    background-image: url(asset-path('form_icons/agreement.png'));
    background-position: 3px 7px;
    background-size: auto 25px;        
}

#price_estimate
{
    background-image: url(asset-path('form_icons/cost.png'));
    background-position: 3px 3px;
    background-size: auto 25px;
    padding-top: 5px;
}

#booking_agreement
{
    margin-left: 34px;
}

#place_reservation_button
{
    height: 40px;
    font-weight: 600;
    font-size: 16px;
}

#booking_success_text
{
    font-size: 20px;
}
