// Place all the styles related to the booking controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$full_calendar_border_colour: #e5e5e5;
$reserved_colour            : #ffddaa;
$booked_colour              : #d162c6;
$reserved_end_colour        : #dbdbdb;
$booked_end_colour          : #af50a6;
$light_blue                 : #aedfef;

$body_background            : linear-gradient(#65a3ce, #406E8E);
$form_background-color      : #fdfdfd;

.full_reservation_calendar_headers
{
    width: 35px;
}

.month_in_year
{
    vertical-align: top;
    padding-left:   15px;
    padding-right:  15px;
    padding-bottom: 10px;
    margin:         0;
    border: 1px solid $full_calendar_border_colour;  
}

#full_reservation_calendar
{
    text-align: center;
    margin: auto;
    border: 1px solid $full_calendar_border_colour;
    border-top: 0;    
    border-collapse: separate;
    border-spacing: 0px 0px;
}

.month_title
{
    margin-top:      -2px;
    margin-left:     -15px;
    margin-right:    -15px;
    margin-bottom:    10px;
    height:           32px;
    padding-top:      5px;
    width:            275px;
    background-color: $light_blue;
    font-weight:      600;
}

#booking_summary_title
{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.reservation
{
    margin-top: 2px;
    height: 20px;
    position: absolute;
    z-index: -1;    
}

.full_cal_arrive_reserved, .full_cal_arrive_booked
{
    margin-left: 18px;
    width: 18px;
}

.full_cal_stay_reserved, .full_cal_stay_booked
{
    width: 36px;
}

.full_cal_depart_reserved, .full_cal_depart_booked
{
    width: 18px;
}

.full_cal_stay_booked
{
    background-color: $booked_colour;
}

.full_cal_arrive_booked
{
    border-right: 1px solid $booked_end_colour;      
    background: linear-gradient(to right, white, white , $booked_colour, $booked_colour);
}

.full_cal_depart_booked
{
    border-left: 1px solid $booked_end_colour;    
    background: linear-gradient(to left, white, white , $booked_colour, $booked_colour);
}

.full_cal_stay_reserved
{
    background-color: $reserved_colour;
}

.full_cal_arrive_reserved
{
    border-right: 2px solid $reserved_end_colour;    
    background: linear-gradient(to right, white, white , $reserved_colour, $reserved_colour);
}

.full_cal_depart_reserved
{
    border-left: 2px solid $reserved_end_colour;
    background: linear-gradient(to left, white, white , $reserved_colour, $reserved_colour);
}

table.center 
{
    margin-left:auto; 
    margin-right:auto;
}

.booking_link
{
    position: absolute;
    height: 20px;
    margin-top: 2px;
    z-index: 20;
}

.booking_link_arrive
{
    width: 18px;
    margin-left: 18px;
}

.booking_link_stay
{
    width: 36px;    
}

.booking_link_depart
{
    width: 18px;
}

.booking_link_wrapper
{
    text-align: left;
}

#individual_booking_wrapper
{
    width: 100%;
    text-align: center;
}

#individual_booking_place_holder
{
    text-align: center;
    width: 0px;
    height: 0px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid $full_calendar_border_colour;
    margin-bottom: 20px;
    background-color: #e5e5e5;    
}

#individual_booking
{
    background-color: white;
    margin-left:auto; 
    margin-right:auto;
    border-left: 1px solid $full_calendar_border_colour;
    border-right: 1px solid $full_calendar_border_colour; 
}

#individual_booking td
{
    text-align: left;
    margin-top: 5px;
    width: 210px;
    margin-bottom: 5px;
    padding-left: 10px;
}

#individual_booking_title
{
    width: 100%;
    border-bottom: 1px solid $full_calendar_border_colour;
    font-weight: 600;
    background-color: $light_blue;
}

.booking_attribute
{
    font-weight: 500;
}

.gray_border_right
{
    border-right: 1px solid $full_calendar_border_colour;
}

#close_button
{
    display: inline-block;
    text-align: right;
    float: right;
    position: relative;
    width: 22px;
    height: auto;
}

#close_button:hover
{
    cursor: pointer;
}

.booking_button
{
    position: relative;
    background-color: #008CBA;
    border: none;
    color: white;      
    padding: -10px 10px;
    text-align: center;
    height: 22px;
    font-size: 12px;
    float: left;
    height: 22px;    
}

#edit_booking_button
{
    z-index: 100;
}

#delete_booking_button
{
    z-index: 99;
}

#delete_wrapper
{
    width: 100%;
    visibility: hidden;
    height: 0px;
}

.booking_button:hover
{
    background-color: #119DCB;
    color: white;
}

.booking_form_element
{
    height: 25px;
}

#cost_field
{
    position: relative;
    float: right;
    width: 95%;
}

#add_booking_button_wrapper
{
    width: 100%;
    text-align: center;
}

#delete_booking_yes_button
{
    position: relative;
    z-index: 1;    
}

#delete_booking_no_button
{
    position: relative; 
    z-index: 10;
}

.form_body
{
    background-color: $form_background-color;    
    position: relative;
    width: 1024px;
    margin: auto;
    text-align: center;
}

#customer_page
{
    background: $body_background;
}

.customer_form
{
    background-color: $form_background-color;
}
