.month_calendar 
{
    border-collapse: separate;
    border-spacing: 0px 0px;
}

.day
{
    height: 25px;
    text-align: center;
}

.highlight
{
    color: red;
}

.end_date_highlight
{
    color: blue;
}
