.month_calendar 
{
    border-collapse: separate;
    border-spacing: 0px 0px;
}

.day
{
    height: 25px;
    text-align: center;
}

.highlight
{
    color: red;
}

.end_date_highlight
{
    color: blue;
}

.check_button
{
    text-align: left;
    display:block;    
    width: 150px;
    height: 40px;
    background-color: white;
    border: 1px solid #008CBA;
    border-radius: 5px;
    padding-top: 7px;
    text-decoration: none;
}
