// Place all the styles related to the price_rule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#price_manager_header_wrapper
{
    width: 100%;
    margin-top: 10px;
}

#price_manager_header_text
{
    width: 90%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #e5e5e5;
    margin: auto;
    padding-bottom: 10px;
}

#price_manager_body_wrapper
{
    width: 90%;
    text-align: center;
}

#price_manager_body_wrapper
{
    text-align: left;
}

.price_rule_td
{
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.price_rule_td_right
{
    border-right: 0;
}

.price_manager_table
{
    width: 90%;
}
