// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login_photo_div 
{
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}

#login_photo_div #login_photo {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#login_pane
{
    position: relative;
    z-index: 2;
    width: 400px;
    height: 100%;
    background: white;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
    float: right;
    text-align: center;
}

#login_details
{
    text-align: center;
    margin-top: 60px;
    font-size: 14px;
    width: 100%;
}

.login_form_element
{
    color: #262626;
}

.login_field
{
    margin-top: 10px;
    margin-left: 20px;
    color: #7f7f7f;
    width: 360px;
}

#login_title
{
    font-size: 35px;
    margin-bottom: 5px;
    font-weight: bolder;
}

#login_subtitle
{
    font-size: 18px;
    margin-bottom: 50px;
    color: #333333;
}

#flash_alert_login
{
    width: 400px;
    position: absolute;
    margin-top: 25px;
    background-color: #c40000;
    color: white;
}