// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$home_background_color: #2b2b2b;

#home
{
    background-color: #fefefe;
}

.nav_bar_filler
{
    display: block;
    width: 100%;
    height: 45px;
    background-color: green;
}

#extern_wrapper
{
    margin-top: -5px;
    position: relative;
    width: 100%;
    height:   calc(100% - 40px);
    overflow: hidden;
    z-index: 0;
}

#video_frame_holder_wrapper 
{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    overflow: hidden;
}

#video_frame_holder_wrapper iframe 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vw/1.77777);
    z-index: -10;
}

#map
{
    width:  100%;
    height: 400px;
}

.gallery_body
{
    background-color: $home_background_color;     
    width: 100%;
    min-width: 800px;
    max-width: 1500px;
    height: calc(100% - 45px);
}

.gallery_slider
{
    float: left;
    width: calc(100%);
    height: 100%;
    min-height: 500px;
    max-height: 1000px;
}

.gallery_image_wrapper
{
    display: none;
    width: 100%;
    height: 100%;
}

#image_selector_wrapper
{
    width:      100%;
    text-align: center;   
    position:   relative;
    margin-top: -30px;
}

.image_selector
{
    height: 15px;
    z-index: 10000;
}

#back_of_house
{
    background-image: url(asset-path('gallery/back_of_house.jpg'));    
}

#back_yard_table
{
    background-image: url(asset-path('gallery/back_yard_table.jpg'));    
}

#bathroom
{
    background-image: url(asset-path('gallery/bathroom.jpg'));    
}

#dining_area
{
    background-image: url(asset-path('gallery/dining_area.jpg'));    
}

#double_room
{
    background-image: url(asset-path('gallery/double_room.jpg'));    
}

#front_house
{
    background-image: url(asset-path('gallery/front_house.jpg'));    
}

#front_lounge
{
    background-image: url(asset-path('gallery/front_lounge.jpg'));    
}

#kitchen
{
    background-image: url(asset-path('gallery/kitchen.jpg'));    
}

#lounge_room
{
    background-image: url(asset-path('gallery/lounge_room.jpg'));    
}

#master_bedroom
{
    background-image: url(asset-path('gallery/master_bedroom.jpg'));    
}

#side_of_house
{
    background-image: url(asset-path('gallery/side_of_house.jpg'));    
}

#side_yard
{
    background-image: url(asset-path('gallery/side_yard.jpg'));    
}

#single_room
{
    background-image: url(asset-path('gallery/single_room.jpg'));    
}

.gallery_image
{
    background-size: cover;     
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}

#terms_and_conditions
{
    background-image: url(asset-path('carob_cottage_scenary/vine.jpg'));
    background-size:  auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center right;    
}

#contact_us
{
    font-family: 'IBM Plex Sans Condensed';
    background-image: url(asset-path('carob_cottage_scenary/bike.jpg'));
    background-size:  auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center right;      
}

#tarrif
{
    font-family: 'IBM Plex Sans Condensed';
    background-image: url(asset-path('carob_cottage_scenary/tarrif.jpg'));
    background-size:  auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center right;      
}



#home, #location, #gallery, #terms_and_conditions, #contact_us, #about
{
    font-family: 'IBM Plex Sans Condensed';
}

#about
{
    background-color: $home_background_color;
}

#ts_and_cs_body
{
    margin-left:      auto;
    margin-right:     auto;
    width:            100%;
    max-width:        1000px;
    height:           100%;
    background-color: #fdfdfd;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;     
    box-shadow: 0 0 20px black;    
}

.text_field
{
    display: block;
    padding-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    text-justify: inter-word;    
}

#footer_spacer
{
    width:  10px;
    height: 10px;
}

.customer_message
{
    height: 200px;
}

#send_message_button
{
    text-align: center;
    height: 40px;
}

#send_message_button_wrapper
{
    margin-top: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.contact_us_heading
{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.customer_field
{
    background-color: #fdfdfd;
}

.contact_us_body
{
    text-align: center;
}

#cottage_details
{
    width: 30%;
    padding-left: 20px;
}

.contact_us_wrapper
{
    padding-top: 70px;
}

#original_cottage
{
    background-image: url(asset-path('carob_cottage_scenary/original_cottage.jpg'));
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100% - 45px);
    max-height: 1200px;
    max-width: 1200px;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
}

#history_banner_wrapper
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

#history_banner_photos
{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


.history_about_us
{
    background-color: #fefefe;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

#original_cottage_wrapper
{

    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;     
    box-shadow: 0 0 20px black;      
}

.downArrow
{
    display: block;
    cursor: pointer;
    position: absolute;
	z-index: 1000;
	left: 50%;
}

.down_arrow_wrapper
{
    margin-top: -50px;
    position: relative;
    width: 100%;
    height: 50px;
    z-index: 999;
    text-align: center;
}

.bounce 
{
	-moz-animation:    bounce 3s 0s;
	-webkit-animation: bounce 3s 0s;
	animation:         bounce 3s 0s;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.owner_profile
{
    border-top: 1px solid #aaaaaa;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fefefe;
    text-align: center;
}

#owner_description
{
    vertical-align: top; 
    display:        inline-block;
    max-width:      500px;
    padding-left:   10px;
    padding-right:  10px;
}

#owner_photo_wrapper
{
    vertical-align: top;
    display: inline-block;
    max-width: 100%;
    width: 500px;
}

#owner_photo
{
    width: 100%;
    height: auto;
}

#original_cottage_descriptor_wrapper
{
    width: 100%;
    height: 45px;
    text-align: left;
}

#original_cottage_descriptor
{
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    display: block;
    background-color: black;
    color: #fefefe;
}

#original_cottage_title
{
    font-size: 50px;
    padding-top: 0px;
    text-align: center;
}


#tarrif_body h2
{
    text-align: center;
}

#tarrif_body div
{
    margin-left: 10px;
    margin-right: 10px;
}

.home_body
{
    background-color: #fefefe;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.general_description
{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#ammenities_body h2
{
    text-align: center;
    width: 100%;
}

.ammenity
{
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 40px;
    padding-left: 50px;
    padding-top: 5px;
    padding-right: 2%;
    margin-left:  5%;
    font-size: 18px;
    display: inline-block;
    width: 400px;
    max-width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

#ammenity_wood_fire
{
    background-image: url(asset-path('ammenity_icons/wood_fire.png'));
}

#ammenity_kitchen
{
    background-image: url(asset-path('ammenity_icons/kitchen.png'));
}

#ammenity_linen
{
    background-image: url(asset-path('ammenity_icons/linen.png'));
}

#ammenity_internet
{
    background-image: url(asset-path('ammenity_icons/internet.png'));
}

#ammenity_breakfast
{
    background-image: url(asset-path('ammenity_icons/breakfast.png'));
}

#ammenity_airconditioning
{
    background-image: url(asset-path('ammenity_icons/airconditioning.png'));
}

#ammenity_heater
{
    background-image: url(asset-path('ammenity_icons/heater.png'));
}

#ammenity_bbq
{
    background-image: url(asset-path('ammenity_icons/bbq.png'));
}

#ammenity_laundry
{
    background-image: url(asset-path('ammenity_icons/laundry.png'));
}

#ammenity_bathroom
{
    background-image: url(asset-path('ammenity_icons/bathroom.png'));
}


.ammenity_seperator
{
    display: block;
    width: 100%;
}

#ammenities_general
{
    text-align: center;
}

#ammenities_general div
{
    padding-left: 45px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    font-size: 20px;
    margin-right:  10px;
    margin-bottom: 10px;
    padding-top:   5px;
}

#ammenities_body
{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.general_description
{
    font-size: 18px;
    text-align: center;
}

#house_bed
{
    background-image: url(asset-path('house_icons/bed.png'));    
}

#house_bathroom
{
    background-image: url(asset-path('house_icons/bathroom.png'));    
}

#house_guests
{
    background-image: url(asset-path('house_icons/guests.png'));    
}

#general_description
{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    text-align: center;
    border-bottom: 2px solid #aaaaaa;
}

#four_photos
{
    text-align: center;
}

#make_reservation, #view_gallery, #home_history, #home_contact_us
{
    background-size:     cover;     
    background-repeat:   no-repeat;
    background-position: center center;
    width: 50%;
    height: 300px;
    display:inline-block;
    min-width: 500px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#make_reservation
{
    background-image: url(asset-path('carob_cottage_scenary/reservation.jpg'));
}

#view_gallery
{
    background-image: url(asset-path('carob_cottage_scenary/gallery.jpg'));
}

#home_history
{
    background-image: url(asset-path('carob_cottage_scenary/history.jpg'));
}

#home_contact_us
{
    background-image: url(asset-path('carob_cottage_scenary/contact_us.jpg'));
}

.home_button 
{
  border:           2px solid #fefefe;
  border-radius:    5px;
  background:       rgba(0,0,0,0.5);
  color:            #FFFFFF;
  text-align:       center;
  font-size:        26px;
  padding:          20px;
  width:            200px;
  transition:       all 0.5s;
  cursor:           pointer;
  margin:           5px;
}

.home_button_wrapper
{
    width: 200px;
    margin-top: 80px;
    vertical-align: center;
    margin-left:  auto;
    margin-right: auto;
}

.home_button span 
{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.home_button span:after 
{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.home_button:hover span 
{
  padding-right: 25px;
}

.home_button:hover span:after 
{
  opacity: 1;
  right: 0;
}

#home_title_wrapper
{
    position: relative;
    z-index: 100;
    width: 100%;
    font-size: 25px;
    display: none;
    text-align: center;    
}

#home_title
{
    margin-left: 5%;
    margin-top: 5%;
    width: 400px;
    font-size: 6vw;
}

#home_gallery_body
{
    position: relative;
    width: 100%;
    background-color: $home_background_color;     
    height: calc(100% - 45px); 
}
