<div id="customer_navigation_bar">
    <div id="customer_navigation_bar_padding_left"></div>
    <%= render partial: "layouts/customer_navigation_bar_button", locals: {path: reservation_path, button_name: "Reservation", current_page: current_page} %>
</div>
