<div id="flash">
    <% unless flash[:alert].nil? %>
        <%= content_tag(:div, "#{flash[:alert]}", class: "flash_alert #{flash_class}") %> 
    <% end %>
    
    <% unless flash[:notification].nil? %>
        <%= content_tag(:div, "#{flash[:notification]}", class: "flash_notification #{flash_class}") %>
    <% end %>
    <script>
        fade_flash_notifications_out()
    </script>
</div> 