<div id="footer">
    <div class="footer_button" id="footer_spacer"></div>    
    <div class="footer_button"><%= link_to("Terms and Conditions", terms_and_conditions_path, class: "no_underline") %></div>
    <div class="footer_button">
        <%= link_to "https://www.facebook.com/Carob-Cottage-846068185404768/", target: :_blank do %>
            <img id="fb_logo" src="<%= asset_path('facebook_logo.png') %>"/>
        <% end %>
    </div>
</div>
